@font-face {
  src: 
    url('./Inter-3.15/Inter Hinted for Windows/Web/Inter-Regular.woff') format('woff'),
    url('./Inter-3.15/Inter Hinted for Windows/Web/Inter-Regular.woff2') format('woff2'),
    url('./Inter-3.15/Inter Hinted for Windows/Desktop/Inter-Regular.ttf') format('truetype'),
    url('./Inter-3.15/Inter Desktop/Inter-Regular.otf') format('otf');
  font-family: 'Inter';
  font-weight: normal;
}

@font-face {
  src:
    url('./Inter-3.15/Inter Hinted for Windows/Web/Inter-Bold.woff') format('woff'),
    url('./Inter-3.15/Inter Hinted for Windows/Web/Inter-Bold.woff2') format('woff2'),
    url('./Inter-3.15/Inter Desktop/Inter-Bold.otf') format('otf'),
    url('./Inter-3.15/Inter Hinted for Windows/Desktop/Inter-Bold.ttf') format('truetype');
    font-family: 'Inter';
    font-weight: bold;
}